* {
    margin: 0;
    padding: 0;
}
body {
    background-color: lightgreen;
}
h1 {
    background-color: grey;
    font-size: 100px;
    color: blue;
    padding: 40px;
    margin: 20% 20% 20% 20%;
    text-align: center;
    border-radius: 20px;
}
header {
    font-size: 32px;
    text-align: left;
    font-family: Arial;
    border-top-right-radius: 13px;
    border-bottom-right-radius: 13px;
}
@media (max-width: 768px) {
    h1 {
        font-size: 60px;
        padding: 40px;
        margin: 15% 13% 10% 15%;
    }
    header{
      font-size: 22px;
    }
}
